<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="../css/reset.css"/>
<link rel="stylesheet" type="text/css" href="../css/blog_article.css"/>
<script src="../js/jquery-1.11.3.min.js"></script>
<script src="../js/blog_article.js"></script>
</head>
<body>
	<div class="blog_article clearfix">
		<div class="blog-article-head clearfix">
			<span class="article-typeText">文章管理</span>
			<span class="article-addtype">添加文章</span>
		</div>
		<div class="article-content">
			<table class="article-table">
				<thead class="article-thead">
					<tr>
						<th>文章序号</th>
						<th>文章标题</th>
						<th>文章描述</th>
						<th>文章分类</th>
						<th>编辑</th>
						<th>删除</th>
					</tr>
				</thead>
				<tbody class="article-tbody">
				
				</tbody>
			</table>
		
		
		</div>
	</div>
</body>
</html>