<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="../css/reset.css"/>
<link rel="stylesheet" type="text/css" href="../css/blog_left.css"/>
<script src="../js/jquery-1.11.3.min.js"></script>
<script src="../js/blog_left.js"></script>
<script src="../js/util.js"></script>
</head>
<body>
	<div class="blog-left clearfix">
		<ul class="blog-left-menu">
			<li><a datatype="categroy"  class="isChecked" target="mainFrame" href="../util/locationredirect?datatype=categroy">分类管理</a></li>
			<li><a datatype="article"  target="mainFrame" href="../util/locationredirect?datatype=article">文章管理</a></li>
			<li><a datatype="user" target="mainFrame" href="../util/locationredirect?datatype=user">用户管理</a></li>
		</ul>
	</div>
</body>
</html>