<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="../css/reset.css"/>
<link rel="stylesheet" type="text/css" href="../css/blog_head.css"/>
<script src="../js/jquery-1.11.3.min.js"></script>
<script src="../js/blog_head.js"></script>
<script src="../js/main.js"></script>
</head>
<body>
	<div class="blog-head clearfix">
		<div class="blog-left">
			<span class="blog-text">博客后台管理系统</span>
		</div>
		<div class="blog-right">
			<span class="blog-usename"></span>
			<span class="blog-loginout"><a href="../login/loginout" target="loginFrame" >退出</a></span>
		</div>
	</div>
</body>
</html>