<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="../css/reset.css"/>
<link rel="stylesheet" type="text/css" href="../css/blog_index.css"/>
<script src="../js/jquery-1.11.3.min.js"></script>
<script src="../js/blog_index.js"></script>
<script src="../js/util.js"></script>
<script src="../js/main.js"></script>
</head>
<body>
	<div class="index-wrap" name="loginFrame">
		<div class="index-head">
			<iframe src="../views/blog_head.html" class="index-head-iframe" scrolling="NO"></iframe>
		</div>
		<div class="index-content clearfix">
			<div class="index-left">
				<iframe src="../views/blog_left.html" class="index-left-iframe" scrolling="NO"></iframe>
			</div>
			<div class="index-right">
				<iframe src="../views/blog_categroy.html" class="index-content-iframe" name="mainFrame"></iframe>
			</div>
		</div>
		
	</div>
</body>
</html>