<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="../css/reset.css"/>
<link rel="stylesheet" type="text/css" href="../css/blog_user.css"/>
<script src="../js/jquery-1.11.3.min.js"></script>
<script src="../js/blog_user.js"></script>
</head>
<body>
	<div class="blog_user clearfix">
		<div class="blog-user-head clearfix">
			<span class="user-typeText">用户管理</span>
			<!-- <span class="user-addtype"></span> -->
		</div>
		<div class="user-content">
			<table class="user-table">
				<thead class="user-thead">
					<tr>
						<th>用户序号</th>
						<th>用户名称</th>
						<th>用户密码</th>
						<th>编辑</th>
						<th>删除</th>
					</tr>
				</thead>
				<tbody class="user-tbody">
				
				</tbody>
			</table>
		
		
		</div>
	</div>
</body>
</html>